In [1]:
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs
from pandas import ExcelWriter
import xlsxwriter
from datetime import datetime
import pandas_datareader.data as wb

In [2]:
kosdaq_market_cap = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/kosdaq_market_cap.xls')

In [3]:
kosdaq_market_cap

,종목코드,종목명,현재가,대비,등락률,거래량,거래대금,시가,고가,저가,시가총액,시가총액비중(%),상장주식수,외국인 보유주식수,외국인 지분율(%)
0,091990,셀트리온헬스케어,"61,000","2,300",3.9,"2,086,302","126,650,332,600","58,900","62,000","58,100","8,779,610,928,000",3.59,"143,928,048",NaN,NaN
1,028300,에이치엘비,"106,000","3,400",3.3,"525,547","55,280,869,100","104,000","106,700","102,400","4,530,325,308,000",1.85,"42,738,918",NaN,NaN
2,035760,CJ ENM,"148,300","3,400",2.4,"232,419","34,596,190,200","145,500","151,600","145,000","3,252,093,538,200",1.33,"21,929,154",NaN,NaN
3,263750,펄어비스,"189,300",-700,-0.4,"26,362","4,995,192,600","186,600","191,700","185,700","2,465,253,900,000",1.01,"13,023,000",NaN,NaN
4,253450,스튜디오드래곤,"84,100",600,0.7,"96,577","8,072,234,300","83,600","85,000","82,700","2,362,904,717,000",0.97,"28,096,370",NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1403,323210,이베스트이안스팩1호,"2,020",0,0.0,"37,625","75,998,290","2,010","2,025","2,010","6,464,000,000",0.00,"3,200,000",NaN,NaN
1404,335870,IBKS제12호스팩,"2,050",0,0.0,"3,794","7,777,860","2,060","2,060","2,045","6,396,000,000",0.00,"3,120,000",NaN,NaN
1405,032685,소프트센우,"39,100","-3,500",-8.2,"48,374","1,966,799,350","43,200","45,550","39,100","5,585,708,700",0.00,"142,857",NaN,NaN
1406,149940,모다,155,0,0.0,0,0,0,0,0,"3,279,863,395",0.00,"21,160,409",NaN,NaN
1407,122800,썬텍,65,-45,-40.9,"27,144,231","1,845,903,874",83,83,62,"2,284,950,525",0.00,"35,153,085",NaN,NaN

In [4]:
start = len(kosdaq_market_cap['종목명']) - 600 - 1
end = len(kosdaq_market_cap['종목명']) - 1
kosdaq_bottom = []

In [5]:
for i in range(start, end):
    kosdaq_bottom.append(kosdaq_market_cap['종목명'][i])

In [6]:
start

807

In [7]:
pbr_list = []
for i in range(0, len(kosdaq_bottom)):
    try:
        company_name = kosdaq_bottom[i]
        company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs_kosdaq_quarterly/'+company_name + '.xlsx')
        pbr_recently = len(company_ifrs['PBR(배)'].dropna()) - 1
        company_ifrs['PBR(배)'].dropna(inplace = True)
        company_pbr = company_ifrs['PBR(배)'].reset_index()
        pbr = company_pbr['PBR(배)'][pbr_recently]
        
        
        if(pbr < 0.2):
            continue
        else:
            pbr_list.append([kosdaq_bottom[i], pbr])
    
    except:
        print('ETF:'+ kosdaq_bottom[i])

ETF:에이텍
ETF:국일신동
ETF:윈팩
ETF:대호피앤씨
ETF:에쎈테크
ETF:한독크린텍
ETF:팬젠
ETF:플레이위드
ETF:피제이전자
ETF:디에이피
ETF:씨에스베어링
ETF:러셀
ETF:케이엠제약
ETF:케이에스피
ETF:소프트센
ETF:서암기계공업
ETF:세명전기
ETF:디스플레이텍
ETF:세화피앤씨
ETF:화성밸브
ETF:옴니텔
ETF:제일제강
ETF:승일
ETF:대륙제관
ETF:파나진
ETF:동양파일
ETF:싸이토젠
ETF:이랜시스
ETF:대성미생물
ETF:우정바이오
ETF:삼현철강
ETF:진양제약
ETF:대동스틸
ETF:유신
ETF:서울제약
ETF:엔바이오니아
ETF:피제이메탈
ETF:티플랙스
ETF:한국팩키지
ETF:마이크로디지탈
ETF:토박스코리아
ETF:한송네오텍
ETF:윌링스
ETF:마이크로프랜드
ETF:자비스
ETF:지에스이
ETF:버킷스튜디오
ETF:제룡산업
ETF:팬스타엔터프라이즈
ETF:신라섬유
ETF:위세아이텍
ETF:아진엑스텍
ETF:세원물산
ETF:애니젠
ETF:한솔시큐어
ETF:나우IB
ETF:서전기전
ETF:동신건설
ETF:한국바이오젠
ETF:대신정보통신
ETF:우양
ETF:샘코
ETF:케이씨에스
ETF:화신정공
ETF:엔지스테크널러지
ETF:소프트캠프
ETF:에이디칩스
ETF:맥스로텍
ETF:부스타
ETF:드래곤플라이
ETF:옵티시스
ETF:알로이스
ETF:애니플러스
ETF:타이거일렉
ETF:우림기계
ETF:뉴보텍
ETF:경남스틸
ETF:한솔인티큐브
ETF:아즈텍WB
ETF:아이엘사이언스
ETF:다믈멀티미디어
ETF:수산아이앤티
ETF:동방선기
ETF:피델릭스
ETF:네이블
ETF:삼일기업공사
ETF:케이씨티
ETF:휴마시스
ETF:에스에스알
ETF:아이에이네트웍스
ETF:와토스코리아
ETF:한네트
ETF:브리지텍
ETF:네오오토
ETF:멜파스
ETF:피앤씨테크
ETF:포메탈
ETF:아이컴포넌트
ETF:패션플랫폼
ETF:제너셈
ETF:삼일
ETF:리더스 기술투자
ETF:유니맥스글로벌
ETF:이씨에스
ETF:픽셀플러스
ETF:이퓨쳐
ETF:전진바이오팜
ETF:로지시스
ETF:오파스넷
ETF:한창산업
ETF:오스테오닉
ETF:대동기어
ETF:대동금속
ETF:동일철강
ETF:토탈소프트
ETF:비츠로시스
ETF:디지아이
ETF:ITX엠투엠
ETF:광진실업
ETF:PN풍년
ETF:지스마트글로벌
ETF:형지I&C
ETF:에스앤더블류
ETF:청보산업
ETF:한국정밀기계
ETF:엘디티
ETF:엔에이치스팩14호
ETF:케이비제18호스팩
ETF:삼성스팩2호
ETF:엔에이치스팩12호
ETF:한화에스비아이스팩
ETF:에스디시스템
ETF:유안타제6호스팩
ETF:엔에이치스팩15호
ETF:미래에셋대우스팩3호
ETF:케이비제20호스팩
ETF:신한제4호스팩
ETF:유안타제5호스팩
ETF:DB금융스팩6호
ETF:하나금융11호스팩
ETF:대신밸런스제8호스팩
ETF:케이비17호스팩
ETF:SK4호스팩
ETF:대신밸런스제7호스팩
ETF:한국제7호스팩
ETF:동부스팩5호
ETF:대신밸런스제6호스팩
ETF:하이제5호스팩
ETF:신한제6호스팩
ETF:IBKS제11호스팩
ETF:상상인이안1호스팩
ETF:유안타제4호스팩
ETF:하나금융15호스팩
ETF:한화플러스제1호스팩
ETF:삼성머스트스팩3호
ETF:하나머스트제6호스팩
ETF:하나금융10호스팩
ETF:한국제6호스팩
ETF:DB금융스팩7호
ETF:하나금융9호스팩
ETF:하이제4호스팩
ETF:하나금융14호스팩
ETF:IBKS제10호스팩
ETF:미래에셋대우스팩4호
ETF:유안타제3호스팩
ETF:신한제5호스팩
ETF:케이비제19호스팩
ETF:루트로닉3우C
ETF:SK5호스팩
ETF:교보7호스팩
ETF:한국제5호스팩
ETF:유진스팩5호
ETF:교보9호스팩
ETF:상상인이안제2호스팩
ETF:교보8호스팩
ETF:IBKS제7호스팩
ETF:키움제5호스팩
ETF:신영스팩5호
ETF:한화에이스스팩4호
ETF:유진스팩4호
ETF:하나금융13호스팩
ETF:엔에이치스팩13호
ETF:한국제8호스팩
ETF:대호피앤씨우
ETF:이베스트이안스팩1호
ETF:IBKS제12호스팩
ETF:소프트센우

In [8]:
pbr_df = pd.DataFrame(pbr_list, columns= ['기업명', 'PBR'])

In [9]:
pbr_df

        기업명    PBR
0     키네마스터  11.92
1      한국선재   0.66
2      로보로보   3.70
3     한빛소프트   6.51
4       CNH   0.52
..      ...    ...
394     감마누   0.36
395      럭슬   0.93
396    에스마크   0.39
397  에스제이케이   2.44
398      모다   1.59

[399 rows x 2 columns]

In [10]:
pbr_df.sort_values(by=['PBR'],ascending=True).dropna()

        기업명    PBR
212   골든센츄리   0.26
192    무림SP   0.26
92     SG&G   0.27
291  휴맥스홀딩스   0.27
78      국순당   0.28
..      ...    ...
309     테라셈   9.15
0     키네마스터  11.92
264   에이앤티앤  11.94
191    지엘팜텍  16.79
213    하이소닉  41.97

[399 rows x 2 columns]

In [11]:
pbr_df

        기업명    PBR
0     키네마스터  11.92
1      한국선재   0.66
2      로보로보   3.70
3     한빛소프트   6.51
4       CNH   0.52
..      ...    ...
394     감마누   0.36
395      럭슬   0.93
396    에스마크   0.39
397  에스제이케이   2.44
398      모다   1.59

[399 rows x 2 columns]

In [12]:
per_list = []
for i in range(0, len(kosdaq_bottom)):
    try:
        company_name = kosdaq_bottom[i]
        company_ifrs = pd.read_excel('/workspace/Jupyter_notebook/financial_analysis/data/ifrs_kosdaq_quarterly/'+company_name + '.xlsx')
        per_recently = len(company_ifrs['PER(배)'].dropna()) - 1
        company_ifrs['PER(배)'].dropna(inplace = True)
        company_per = company_ifrs['PER(배)'].reset_index()
        #print(company_per)
        per = company_per['PER(배)'][per_recently]
        if(per < 0):
            continue
        elif(per < 10):
            per_list.append([kosdaq_bottom[i], per])

            
    except:
        print()

In [13]:
per_df = pd.DataFrame(per_list, columns= ['기업명', 'PER'])

In [14]:
per_df

          기업명   PER
0        한국선재  9.33
1         CNH  4.77
2        일진파워  7.51
3        메디아나  9.38
4          삼진  6.02
5         코메론  4.97
6        대림제지  4.82
7      유성티엔에스  4.02
8          SG  7.67
9       서린바이오  7.24
10     KB오토시스  4.50
11      조광ILI  9.19
12       인포바인  7.43
13       현대통신  5.46
14     이상네트웍스  6.03
15       한국가구  8.60
16        푸드웰  1.90
17      에스에이티  4.88
18       바른전자  0.00
19     포비스티앤씨  7.72
20      유니트론텍  9.48
21      우리이앤엘  4.36
22  DSC인베스트먼트  7.86
23      성도이엔지  5.05
24       인베니아  9.04
25       이라이콤  5.04
26     KMH하이텍  9.85
27      이건홀딩스  5.00
28        오리콤  6.73
29        스페코  5.73
30   에스앤씨엔진그룹  4.75
31  바이오로그디바이스  6.00
32       무림SP  6.59
33         흥국  8.16
34       구영테크  7.52
35       케이디켐  6.86
36      골든센츄리  2.02
37   피에스케이홀딩스  8.21
38    이글루시큐리티  5.99
39      한국컴퓨터  7.46
40       한국큐빅  8.09
41      스타플렉스  4.33
42    유니온커뮤니티  9.38
43     신원종합개발  3.19
44      이즈미디어  8.79
45       원일특강  8.21
46      성우테크론  9.81
47     제일테크노스  8.55
48      웰크론한텍  6.54
49        피앤텔  0.33
50  이스트아시아홀딩스  6.80
51       영신금속  3.52
52      파티게임즈  0.94

In [15]:
per_df.sort_values(by=['PER'],ascending=True).dropna().reset_index()

    index        기업명   PER
0      18       바른전자  0.00
1      49        피앤텔  0.33
2      52      파티게임즈  0.94
3      16        푸드웰  1.90
4      36      골든센츄리  2.02
5      43     신원종합개발  3.19
6      51       영신금속  3.52
7       7     유성티엔에스  4.02
8      41      스타플렉스  4.33
9      21      우리이앤엘  4.36
10     10     KB오토시스  4.50
11     30   에스앤씨엔진그룹  4.75
12      1        CNH  4.77
13      6       대림제지  4.82
14     17      에스에이티  4.88
15      5        코메론  4.97
16     27      이건홀딩스  5.00
17     25       이라이콤  5.04
18     23      성도이엔지  5.05
19     13       현대통신  5.46
20     29        스페코  5.73
21     38    이글루시큐리티  5.99
22     31  바이오로그디바이스  6.00
23      4         삼진  6.02
24     14     이상네트웍스  6.03
25     48      웰크론한텍  6.54
26     32       무림SP  6.59
27     28        오리콤  6.73
28     50  이스트아시아홀딩스  6.80
29     35       케이디켐  6.86
30      9      서린바이오  7.24
31     12       인포바인  7.43
32     39      한국컴퓨터  7.46
33      2       일진파워  7.51
34     34       구영테크  7.52
35      8         SG  7.67
36     19     포비스티앤씨  7.72
37     22  DSC인베스트먼트  7.86
38     40       한국큐빅  8.09
39     33         흥국  8.16
40     37   피에스케이홀딩스  8.21
41     45       원일특강  8.21
42     47     제일테크노스  8.55
43     15       한국가구  8.60
44     44      이즈미디어  8.79
45     24       인베니아  9.04
46     11      조광ILI  9.19
47      0       한국선재  9.33
48     42    유니온커뮤니티  9.38
49      3       메디아나  9.38
50     20      유니트론텍  9.48
51     46      성우테크론  9.81
52     26     KMH하이텍  9.85

In [16]:
pd.merge(pbr_df, per_df, how='left').dropna()

           기업명   PBR   PER
1         한국선재  0.66  9.33
4          CNH  0.52  4.77
5         일진파워  0.92  7.51
7         메디아나  1.26  9.38
8           삼진  0.94  6.02
10         코메론  0.50  4.97
17        대림제지  0.39  4.82
21      유성티엔에스  0.38  4.02
32          SG  1.42  7.67
39       서린바이오  1.04  7.24
50      KB오토시스  0.65  4.50
58       조광ILI  0.90  9.19
66        인포바인  0.57  7.43
69        현대통신  1.24  5.46
84      이상네트웍스  0.70  6.03
88        한국가구  0.59  8.60
93         푸드웰  0.79  1.90
94       에스에이티  0.63  4.88
99      포비스티앤씨  0.90  7.72
100      유니트론텍  1.47  9.48
102      우리이앤엘  0.57  4.36
103  DSC인베스트먼트  1.57  7.86
113      성도이엔지  0.35  5.05
118       인베니아  1.23  9.04
125       이라이콤  0.30  5.04
127     KMH하이텍  0.75  9.85
131      이건홀딩스  0.43  5.00
133        오리콤  0.70  6.73
172        스페코  1.13  5.73
190  바이오로그디바이스  0.91  6.00
192       무림SP  0.26  6.59
198         흥국  0.91  8.16
210       구영테크  0.55  7.52
211       케이디켐  0.65  6.86
212      골든센츄리  0.26  2.02
217   피에스케이홀딩스  0.44  8.21
223    이글루시큐리티  0.94  5.99
242      한국컴퓨터  0.42  7.46
243       한국큐빅  0.67  8.09
271      스타플렉스  0.40  4.33
276    유니온커뮤니티  1.08  9.38
300     신원종합개발  0.45  3.19
303      이즈미디어  0.96  8.79
312       원일특강  0.35  8.21
316      성우테크론  0.74  9.81
325     제일테크노스  0.45  8.55
326      웰크론한텍  0.62  6.54
361        피앤텔  0.70  0.33
374       영신금속  0.56  3.52
391      파티게임즈  0.58  0.94